/************* CSS par défaut**************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Raleway', sans-serif ;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}

.display_flex {
    display: flex;
    justify-content: space-between;
}

.bleu {
    color: #0065FC;
}

.gris {
    color: rgb(209, 209, 209);
}

/****************CSS header************/

.logo img{
    width: 125px;
    height: 70px;
    object-fit: contain;
}

.menu_item {
    padding: 40px 30px 0 30px;
    border-top: 3px solid white;
}
.menu_item a {
    color: grey;
}

.active {
    padding: 40px 30px 0 30px;
    border-top: 3px solid #0065FC;
}

.active a {
    color: #0065FC;
}

.menu_item:hover {
    border-top-color: #0065FC;
}

.menu_item:hover a {
    color: #0065FC;
}

/***********CSS main***********/


.infoPrincip h1 {
    padding-top: 20px;
    font-size: 21px;
}

.infoPrincip p {
    padding: 8px 0 15px;
    font-size: 15px;
    color: grey;
}


#theme ul {
    list-style-type: none;
    text-align: start;
    display: flex;
}

#theme a {
    color: black;
}


/*barre de recherche*/


.barre_recherche {
    width: 410px;
    border-radius: 12px;
    border: 1px solid #f2f2f2;
}

.rech2 {
    display: none;
}

.recherche {
    height: 45px;
    width: 240px;
    font-size: 17px;
    color: black;
    font-weight: bold;
    border: none;
    padding-left: 20px;
}

::placeholder{
    color: black;
}

.map {
    padding: 15px 20px;
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
}

.button {
    height: 45px;
    width: 120px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
    background-color: #0065FC;
    border: none;
    font-weight: 700;
}


/*theme*/

#theme {
    display: flex;
    padding-top: 35px;
    font-weight: bolder;
    transform: translateX(0px);
    transition: 1.1s all;
}

.theme_choix {
    border: solid 2px #f2f2f2;
    border-radius: 35px;
    display: flex;
    margin-left: 25px;
    align-items: center;
    transform: translateX(0px);
    transition: 1.1s all;
    font-size: 17px;
    margin-top: -5px;
}

.theme_choix:hover{
    box-shadow: 3px 3px 20px 3px #0065FC;
    transform: translateX(15px);
}

.theme_choix a {
    display: flex;
}

.filtre {
    margin: 5px;
    font-size: 17px;
}

.icone {
    background-color: #DEEBFF;
    height: 42px;
    width: 42px;
    border-radius: 35px;
    align-items: center;
    margin-left: -1px;
    justify-content: center;
    align-items: center;
}

.infoChoix {
    padding-right: 20px;
    margin-left: 10px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSupp {
    border: 1px solid black;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.infoSupp2 {
    display: flex;
    padding-top: 30px;
}

.infoSupp2 i {
    color: #0065FC;
    border: 1px solid gray;
}

.infoSupp2 p {
    margin: 5px 12px;
    color: gray;
    font-size: 14px;
}


/***********SECTION HEBERGEMENTS**********/

.section_hebergement {
    margin: 35px 0;
}

/*HEBERGEMENT A MARSEILLE*/

.hebergement_marseille img {
    width: 100%;
    height: 115px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.hebergement_marseille {
    width: 62%;
    background-color: #F2F2F2;
}

.bloc_chambre {
    border-radius: 20px;
    padding: 45px 35px 0 35px;
}

.bloc_chambre_titre {
    margin-bottom: 33px;
    font-size: 25px;
}

.affiche_plus {
    font-size: 20px;
    padding: 0 0 35px;
}

.section_hebergement h2 {
    font-size: 16px;
}

.section_hebergement p {
    font-size: 14px;
    color: grey;
    margin: 4px 0;
}

.hebergement_choix {
    width: 31%;
    margin-bottom: 33px;
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.hebergement_list_marseille {
    flex-wrap: wrap;
}

.details_hebergement {
    padding: 5px 10px;
}

.icon_star i {
    font-size: 12px;
}

strong {
    color: black;
}

/*HEBERGEMENT POPULAIRE*/


.hebergement_populaire {
    width: 35%;
    background-color: #F2F2F2;
}

.populaires_list {
    flex-direction: column;
}

.bloc_chambre_icon i {
    font-size: 27px;
}

.populaires_choix {
    background-color: white;
    border-radius: 13px;
    padding: 5px 5px 0px 5px;
    margin-bottom: 25px;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.populaires_choix a {
    display: flex;
}


.populaires_choix .img_populaires {
    width: 35%;
    height: 100%;
    margin-right: 30px;
}

.populaires_choix .img_populaires img {
    width: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    height: 140px;
}

.populaires_choix .details_populaires {
    width: 45%;
}

.hebergement_populaire .details_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}

.details_populaires_info h2 {
    margin-bottom: 8px;
}


/*************ACTIVITES*************/

.flexDirectiO {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section_activites {
    width: 100%;
}

.bloc_activite_titre {
    margin: 60px 0 25px;
    font-size: 25px;
    font-weight: bold;
}

.titreActivite {
    display: flex;
    margin: 10px 20px;
    color: black;
    font-size: 10px;
}

/*partie 1*/

.vieux_port {
    width: 23%;
    height: 460px;
    border-radius: 20px;
    transition: 1.1s all;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.vieux_port:hover {
    box-shadow: 10px 10px 40px 5px black;
    transform: translateX(20px);
}


.img_vieux_port img {
    background-position: center;
    width: 100%;
    height: 410px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.column {
    width: 23%;
    flex-direction: column;
}

.fort_de_pomegues {
    width: 100%;
    height: 245px;
    border-radius: 20px;
    transition: 1.1s all;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.fort_de_pomegues:hover {
    box-shadow: 10px 10px 40px 5px black;
    transform: translateX(20px);
}

.img_fort_de_pomegues img{
    background-position: center;
    width: 100%;
    height: 195px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.iles_du_frioul {
    width: 100%;
    height: 180px;    
    margin-top: 35px;
    border-radius: 20px;
    transition: 1.1s all;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.iles_du_frioul:hover {
    box-shadow: 10px 10px 40px 5px black;
    transform: translateX(20px);
}

.img_iles_du_frioul img {
    background-position: center;
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*partie 2*/

.parc_national_des_calanques {
    width: 23%;
    height: 460px;
    border-radius: 20px;
    transition: 1.1s all;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.parc_national_des_calanques:hover {
    box-shadow: 10px 10px 40px 5px black;
    transform: translateX(20px);
}

.img_parc_national_des_calanques img {
    background-position: center;
    width: 100%;
    height: 410px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.notre_dame_de_la_garde {
    width: 100%;
    height: 205px;
    border-radius: 20px;
    transition: 1.1s all;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.notre_dame_de_la_garde:hover {
    box-shadow: 10px 10px 40px 5px black;
    transform: translateX(20px);
}

.img_notre_dame_de_la_garde img {
    background-position: center;
    width: 100%;
    height: 155px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.parc_longchamp {
    width: 100%;
    height: 220px;    
    margin-top: 35px;
    border-radius: 20px;
    transition: 1.1s all;
    box-shadow: -1px 2px 3px 1px #c2c2c257;
}

.parc_longchamp:hover {
    box-shadow: 10px 10px 40px 5px black;
    transform: translateX(20px);
}

.img_parc_longchamp img {
    background-position: center;
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}


/***************FOOTER*************/

.footer_content {
    display: flex;
    padding: 45px 0;
}

.footer_content .footer_item_menu {
    display: flex;
    flex-direction: column;
}
.footer_content .footer_item{
    width: 100%;
}

.footer_content .footer_item a {
    margin: 4px 0;
    font-size: 13px;
    color: gray;
}

.footer_content .footer_item h1 {
    font-size: 16px;
    margin-bottom: 11px;
}

footer {
    background-color: #F2F2F2;
    margin-top: 60px;
}


/*******MARGE*******/

header, main, .footer_content {
    width: 93%;
    margin: auto;
}

.logo, .section_entete {
    width: 98%;
    margin: auto;
}

.header_content .logo {
    width: 74%;
    margin: auto;
}



/*********** breackpoint tablette ***********/

@media only screen and (max-width: 992px) {
    .section_hebergement {
        flex-direction: column;
    }

    .hebergement_marseille, .hebergement_populaire {
        width: 100%;
        margin-bottom: 20px;
    }

    .flexDirectiO {
        flex-wrap: wrap;
    }

    .vieux_port, .parc_national_des_calanques, .column {
        width: 48%;
        margin-bottom: 40px;
    }
}


/******** breackpoint mobile **********/

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .header_content {
        flex-direction: column;
        margin-bottom: 18px;
    }

    .header_content .logo {
        text-align: center;
    }

    .logo img{
        width: 100px;
        height: 50px;
        object-fit: contain;
    }

    .menu_item {
        width: 100%;
        text-align: center;
        padding: 25px 30px 8px 30px;
        border-bottom: 3px solid #f2f2f2;
    }

    .menu_item a {
        color: black;
    }

    .menu_item:hover {
        border-top-color: white;
        border-bottom-color: #0065FC;
    }
    
    .active {
        border-top: none;
        padding: 25px 30px 8px 30px;
        border-bottom: 3px solid #0065FC;
    }

    .active a {
        color: #0065FC;
    }

    /**section_entete***/

    .infoPrincip p, .infoSupp2 p, .hebergement_marseille p, .hebergement_populaire p {
        color: black;
        font-weight: 500;
    }

    .infoPrincip {
        margin-bottom: 20px;
    }

    .recherche {
        padding: 10px 0 10px 20px;
    }

    .map {
        padding: 15px 17px;
    }

    .barre_recherche {
        width: 317px;
        border-radius: 26px;
    }

    .rech {
        display: none;
    }

    .rech2 {
        display: flex;
        justify-content: center;
    }

    .button {
        padding: 15px 15px;
        border-radius: 15px;
    }

    .filtre {
        margin-bottom: 17px;
    }

    #theme {
        flex-direction: column;
    }

    #theme ul {
        flex-wrap: wrap;
    }

    .theme_choix {
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 25px;
    }

    
    .section_hebergement {
        flex-direction: column-reverse;
    }

    main {
        width: 100%;
        margin: 0px;
    }

    .populaires_choix {
        margin-bottom: 17px;
    }

    .hebergement_populaire {
        padding-bottom: 30px;
    }

    .bloc_chambre {
        border-radius: 0;
    }

    .hebergement_marseille {
        background: none;
    }

    .section_hebergement .bloc_chambre {
        padding: 45px 0px;
    }

    .hebergement_choix {
        width: 100%;
        margin-bottom: 20px;
    }

    .hebergement_marseille img {
        width: 100%;
        height: 160px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    .affiche_plus {
        padding: 25px 0 0 ;
    }

    .affiche_plus a {
        font-size: 20px;
    }

    /*section activités*/

    .bloc_activite_titre {
        margin: 0 0 25px;
    }

    .column {
        width: 100%;
        flex-direction: row;
    }

    .titreActivite{
        font-size: 12px;
        margin: 18px 20px;
    }

    .vieux_port {
        width: 100%;
        height: 230px;
    }

    .fort_de_pomegues {
        width: 100%;
        height: 230px;
    }

    .iles_du_frioul {
        width: 100%;
        height: 230px;
    }

    .parc_national_des_calanques {
        width: 100%;
        height: 230px;
    }

    .notre_dame_de_la_garde {
        width: 100%;
        height: 230px;
    }

    .parc_longchamp {
        width: 100%;
        height: 230px;
    }

    /*img*/

    .vieux_port img {
        height: 165px;
    }

    .fort_de_pomegues img {
        height: 165px;
    }

    .iles_du_frioul img {
        height: 165px;
    }

    .parc_national_des_calanques img {
        height: 165px;
    }

    .notre_dame_de_la_garde img {
        height: 165px;
    }

    .parc_longchamp img {
        height: 165px;
    }

    .hebergement_marseille, .section_activites, .section_entete {
        width: 90%;
        margin: auto;
    }

    .hebergement_populaire .populaires_list {
        width: 90%;
        margin: auto;
    }

    .hebergement_populaire .populaire_titre {
        width: 90%;
        margin: auto;
    }

    /***footer***/

    footer {
        margin-top: 0px;
    }

    .footer_content {
        flex-direction: column;
    }

    .footer_item {
        margin-bottom: 45px;
    }

    .footer_content .footer_item h1 {
        font-size: 19px;
        margin-bottom: 20px;
    }

    .footer_content .footer_item a {
        font-size: 16px;
        font-weight: 500;
        color: black;
    }

}